
<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <h1 class="customer_text">Мы находимся по адресу:</h1>
                <p class="footer_lorem_text">@Config.CompanyAddress</p>
                <a class="footer_contact" href="tel:@Config.CompanyPhoneShort">@Config.CompanyPhone</a>
                <a class="footer_contact" href="tel:@Config.CompanySecondPhoneShort">@Config.CompanySecondPhone</a>
                <p class="footer_lorem_text">@Config.CompanyWorkTime</p>               
                <a class="footer_contact" href="#" data-copy="true">@Config.CompanyEmail</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h1 class="customer_text">Компания "@Config.CompanyName"</h1>
                <a href="@Url.Action("About","Home")">
                    <img class ="footer_img" src ="~/images/new_logo.png"/>
                </a>
                <p class="footer_lorem_text">
                    Компания «@Config.CompanyName» – строительная компания с большим опытом в ремонтных работах, гарантия качества и профессионализм штата сотрудников.
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h1 class="customer_text">Навигация по сайту</h1>
                <ol class="footer_lorem_text1" title="Навигация по сайту">
                    <li><a class="footer_contact" href="@Url.Action("About", "Home")">Информация</a></li>
                    <li><a class="footer_contact" href="@Url.Action("Services", "Home")">Услуги</a></li>
                    <li><a class="footer_contact" href="@Url.Action("Feedback", "Home")">Портфолио</a></li>
                    <li><a class="footer_contact" href="@Url.Action("Contact", "Home")">Контакты</a></li>                 
                </ol>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h1 class="customer_text">Дополнительная информация</h1>
                <a class="footer_contact" href="@Url.Action("ResourseUsed", "Home")">Special thanks to</a>
                <a class="footer_contact" href="DownloadDocument?documentName=privacy.docx&contentType=application/msword">Политика конфиденциальности</a>
                <h2 class="footer_lorem_text1" style="font-size:18px; margin:0px; padding:3px" > По вопросам сотрудничества: </h2> 
                <a class="footer_contact" style="margin-top:3px" href="tel:@Config.CompanyCooperationPhoneShort">@Config.CompanyCooperationPhone</a>
                <a class="footer_contact" hidden href="#">Вакансии в @Config.CompanyName</a>
            </div>
        </div>
        <div class="row">
            <div class="footer_grid">
                <a href="#" target="_blank"><img class="social_icon_mini" src="~/images/watsapp.png" alt="WhatsApp" /></a>
                <a href="#" target="_blank"><img class="social_icon_mini" src="~/images/telegram.png" alt="Telegram" /></a>
                <a href="#" target="_blank"><img class="social_icon_mini" src="~/images/insta.png" alt="Instagram" /></a>
                <a href="#" target="_blank"><img class="social_icon_mini" src="~/images/youtube.png" alt="YouTube" /></a>
            </div>
        </div>      
    </div>  
</div>
<!--  footer section end -->
