@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@functions {

    bool IsMobileDevice()
    {
        string? userAgent;
        bool isMobileDevice = false;
        if (HttpContextAccessor.HttpContext != null)
        {
            userAgent = HttpContextAccessor.HttpContext.Request.Headers["User-Agent"].ToString();
            isMobileDevice = userAgent.Contains("Mobile", StringComparison.OrdinalIgnoreCase);
        }
        return isMobileDevice;
    }

    Month GetCurrentMouth()
    {
        DateTime now = DateTime.Now;
        int currentMonth = now.Month;
        Month month = (Month)currentMonth;
        return month;
    } 

    enum Month
    {
        ЯНВАРЕ = 1,
        ФЕВРАЛЕ,
        МАРТЕ,
        АПРЕЛЕ,
        МАЕ,
        ИЮНЕ,
        ИЮЛЕ,
        АВГУСТЕ,
        СЕНТЯБРЕ,
        ОКТЯБРЕ,
        НОЯБРЕ,
        ДЕКАБРЕ
    }

}
<!-- header section start -->
<div class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo"><a href="@Url.Action("Index", "Home")"><img src="/images/new_logo.png"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index", "Home")>Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Services", "Home")>Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("About", "Home")>Информация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Feedback", "Home")>Портфолио</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Contact", "Home")>Контакты</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="search_icon">
                        <ul>
                            <li><a><&#9742></a></li>
                            <li>
                                <a href="tel:@Config.CompanyPhoneShort" class="ref_phone" id="ref_phone">@Config.CompanyPhone</a>
                            </li>
                            <li><a href="tel:@Config.CompanySecondPhoneShort" class="ref_phone" id="ref_phone">@Config.CompanySecondPhone</a></li>
                        </ul>
                    </div>
                    <div class="search_icon">
                        <ul>
                            <li><a href="#" class="btn_show_entryForm" id="btn_show_entryForm">Заказать звонок</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div class="container">
            <div class="swiper-slide">
                <p class="second_text">Дарим в @GetCurrentMouth()</p>
                <h1 class="furniture_text text-with-background">скидку 15%</h1>
                <p class="second_text">На ремонт любой сложности</p>
                <p class="second_text">Консультация по телефону и выезд специалиста для расчета сметы БЕСПЛАТНО!</p>
                <p class="present_text text-with-background">Компания Эталон-ПРО работает по Краснодару и Краснодарскому Краю </p>
                <div class="carousel_grid_container">
                    <div class="carousel_grid_item">
                        <img src="~/images/measuring-tape.png" />
                        <p class="s_text">Выезд замерщика бесплатно.</p>
                    </div>
                    <div class="carousel_grid_item">
                        <img src="~/images/shield.png" />
                        <p class="s_text">Гарантия на ремонт от 1 года.</p>
                    </div>
                    <div class="carousel_grid_item" id="item_3">
                        <img src="~/images/offer.png" />
                        <p class="s_text">Скидки на стройматериалы</p>
                    </div>
                </div>
                <div class="contact_bt_main">
                    @if (IsMobileDevice())
                    {
                        <div class="contact_bt"><a href="tel:@Config.CompanyPhoneShort">Получить консультацию</a></div>
                    }
                    else
                    {
                        <div class="contact_bt"><a href="@Url.Action("Contact", "Home")">Получить консультацию</a></div>
                    }
                    
                </div>
            </div>
        </div>
    </div>
    <!-- banner section end -->
</div>
<!-- header section end -->
