@model CompletedProjectViewModel

@{
    var photoCounter = 0;
}

<style>
    /* Стили для контейнера формы */
    .form_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 20px; /* Добавляем отступы */
        margin-left: 1vw;
    }

    .preview-image-container {
        display: inline-block;
        text-align: center;
        margin: 5px;
        cursor: pointer;
    }

    .preview-image {
        max-width: 100px;
        max-height: 100px;
    }

    .description-input {
        display: none;
    }

    .preview-image-container:hover .description-input {
        display: block;
    }

    /* Общие стили для текстовых полей и меток */
    .validation_text {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    label {
        font-weight: bold;
        color: #2196F3; /* Цвет текста метки */
    }

    /* Стили для текстовых полей */
    .text_input_form {
        border: 2px solid #2196F3; /* Цвет границы активного поля */
        border-radius: 4px;
        padding: 10px;
        font-size: 16px;
        transition: border-color 0.3s ease; /* Анимация смены цвета границы */
        /* Сброс стилей для фокуса на поле ввода */
        outline: none;
    }

        /* Анимация при фокусе на текстовых полях */
        .text_input_form:focus {
            border-color: #FF5722; /* Цвет границы при фокусе */
        }

    .file_input_form {
        display: block; /* Отобразить поле ввода файла */
        border: 2px dashed #2196F3; /* Стили для рамки вокруг поля */
        border-radius: 4px;
        padding: 10px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        transition: border-color 0.3s ease; /* Анимация смены цвета рамки */
        /* Сброс стилей для фокуса на поле ввода */
        outline: none;
    }

        /* Анимация при фокусе на поле ввода файла */
        .file_input_form:focus {
            border-color: #FF5722; /* Цвет рамки при фокусе */
        }

    /* Обновленные стили для кнопки */
    #CP_accept {
        background-color: #2196F3;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 18px;
        margin-top: 10px; /* Добавляем небольшой отступ сверху */
        transition: background-color 0.3s ease; /* Анимация смены цвета фона */
        /* Убрать стандартное оформление кнопки */
        outline: none;
    }

        /* Анимация при наведении на кнопку */
        #CP_accept:hover {
            background-color: #FF5722; /* Цвет фона при наведении */
        }

    /* Прогресс-бар */
    progress {
        width: 100%;
        height: 10px;
        border: none;
        border-radius: 5px;
    }

        /* Анимация для прогресс-бара */
        progress::-webkit-progress-bar {
            background-color: #E0E0E0; /* Цвет фона прогресс-бара */
        }

        progress::-webkit-progress-value {
            background-color: #2196F3; /* Цвет самого прогресс-бара */
        }

    .preview-image-container input[type="checkbox"]{
        left:auto;
        position:relative;
        opacity:100%;
    }
        

</style>
<div class="form_conteier">
    <form id ="form_upload_id" asp-area="Admin" asp-controller="Owner" asp-action="AddCompletedProject" method="post" enctype="multipart/form-data" onsubmit="uploadPhotos('/Owner/AddCompletedProject')">
        <p2 class="validation_text">
            <label>Заголовок</label>
            <input class="text_input_form" placeholder="Заголовок" autocomplete = "off" asp-for="@Model.completedProjectExample!.Title" data-val-required="Это поле не должно быть пустым" />
            <span asp-validation-for="@Model.completedProjectExample!.Title" />
        </p2>
        <p2 class="validation_text">
            <label>Описание</label>
            <input class="text_input_form" autocomplete="off" placeholder="Описание" asp-for="@Model.completedProjectExample!.Description" />
            <span asp-validation-for="@Model.completedProjectExample!.Description" />
        </p2>
        <p2 class="validation_text">
            <label>Фото</label>
            <input class="file_input_form" type="file" name="files" id="fileInput" placeholder="Фото проекта" asp-for="@Model.completedProjectExample!.Photos" multiple accept=".jpg, .jpeg, .png" />
            <span asp-validation-for="@Model.completedProjectExample!.Photos" />
            <progress id="progressBar" value="0" max="100"></progress>
            <div id="imagePreviewContainer">
                @for (int i = 0; i < photoCounter; i++)
                {
                    <div class="preview-image-container">
                        <img src="" class="preview-image" />
                        <textarea name="completedProjectExample.Photos[@i].Description" class="description-input" style="display: none;"></textarea>
                        <input type="checkbox" name="completedProjectExample.Photos[@i].IsSelected"/>
                    </div>
                }
            </div>
        </p2>
        <p2 class="validation_text">
            <label>SEO-Метатэг Title</label>
            <input class="text_input_form" autocomplete="off" placeholder="SEO-Метатэг Title"  asp-for="@Model.completedProjectExample!.MetaTitle" />
            <span asp-validation-for="@Model.completedProjectExample!.MetaTitle" />
        </p2>
        <p2 class="validation_text">
            <label>SEO-Метатэг Description</label>
            <input class="text_input_form" autocomplete="off" placeholder="SEO-Метатэг Description"  asp-for="@Model.completedProjectExample!.MetaDescription" />
            <span asp-validation-for="@Model.completedProjectExample!.MetaDescription" />
        </p2>
        <p2 class="validation_text">
            <label>SEO-Метатэг Keywords</label>
            <input class="text_input_form" autocomplete="off" placeholder="SEO-Метатэг Keywords"  asp-for="@Model.completedProjectExample!.MetaKeywords" />
            <span asp-validation-for="@Model.completedProjectExample!.MetaKeywords" />
        </p2>
        <button name="acceptCompletedProject" id="CP_accept" type="submit" value="Send">Добавить</button>
    </form>
</div>

<script>
    function previewImages() {
        var previewContainer = document.getElementById("imagePreviewContainer");
        var fileInput = document.getElementById("fileInput");
        var checkboxes = document.querySelectorAll("input[type='checkbox']");
        previewContainer.innerHTML = "";

        for (var i = 0; i < fileInput.files.length; i++) {
            (function (index) {
                var file = fileInput.files[index];
                var reader = new FileReader();

                reader.onload = function (event) {
                    var img = document.createElement("img");
                    img.src = event.target.result;
                    img.className = "preview-image";

                    var descriptionInput = document.createElement("textarea");
                    descriptionInput.type = "text";
                    descriptionInput.placeholder = "Описание фото";
                    descriptionInput.className = "description-input";
                    descriptionInput.name = `completedProjectExample.Photos[${index}].Description`;

                    var checkbox = document.createElement("input");
                    checkbox.type = "checkbox";
                    checkbox.name = `completedProjectExample.Photos[${index}].IsSelected`;
                    checkbox.className = "select-checkbox";
                    checkbox.value = "true"; // Устанавливаем значение "true" для чекбокса

                    // Устанавливаем начальное состояние чекбокса в false
                    checkbox.checked = false;

                    // Добавляем обработчик для установки значения чекбокса перед отправкой формы
                    checkbox.addEventListener("change", function () {
                        checkbox.value = checkbox.checked ? "true" : "false";
                    });

                    var imageContainer = document.createElement("div");
                    imageContainer.className = "preview-image-container";
                    imageContainer.appendChild(img);
                    imageContainer.appendChild(descriptionInput);
                    imageContainer.appendChild(checkbox);

                    imageContainer.addEventListener("click", function () {
                        descriptionInput.style.display = "block";
                        descriptionInput.focus();
                    });

                    descriptionInput.addEventListener("blur", function () {
                        if (descriptionInput.value.trim() === "") {
                            descriptionInput.style.display = "none";
                        }
                    });

                    previewContainer.appendChild(imageContainer);
                };

                reader.readAsDataURL(file);
            })(i);
        }
    }

    var fileInput = document.getElementById("fileInput");
    fileInput.addEventListener("change", previewImages);
</script>





