@model WorkServicesViewModel

@{
    List<WorksList> CategoryList = new List<WorksList>();
    List<WorksName> WorksNameList = new List<WorksName>();
    var categoriesCount = 0;
}

<style>
    .form_conteier {
        padding:1em;
        background-color: #30a2ff85;
        border-radius: 5px;
    }

    form {
        margin: 15px;
    }

    p2 {
        display: block;
        margin: 2em;
    }

    input[type="file"] {
        border: double;
        margin-left: 3em;
    }

    #CP_accept {
        margin-left: 20em;
        width: 20em;
        height: 3em;
    }

    span {
    }

    label {
        font-size: 22px;
        color: black;
    }
</style>



<div class="form_conteier">
    <form id="form_upload_id" area="Admin" controller="Owner" action="AddWorkServices" method="post" enctype="multipart/form-data" onsubmit="uploadPhotos('/Owner/AddWorkServices')">
        <p2>
            <input type="hidden" name="categoriesCount" id="categoriesCount" value="@categoriesCount" />
        </p2>      
        <p2 class="validation_text">
            <label>Заголовок</label>
            <input class="text_input_form" autocomplete="off" placeholder="Заголовок" name="workServicesExample.Title" value="@Model.workServicesExample!.Title" />
        </p2>
        <p2 class="validation_text">
            <label>Описание</label>
            <input class="text_input_form" autocomplete="off" placeholder="Описание" name="workServicesExample.Description" value="@Model.workServicesExample!.Description" />
        </p2>
        <p2 class="validation_text">
            <label>Титульная картинка</label>
            <input class="file_input_form" type="file" name="files" id="fileInput" placeholder="Титульная картинка" accept=".jpg, .jpeg, .png" />
            <progress id="progressBar" value="0" max="100"></progress>
        </p2>
        <p2>
            <div id="categories">
                @for (int i = 0; i < categoriesCount; i++)
        {
                <div class="category">
                    <p2 class="validation_text">
                        <label>Название категории</label>
                        <input class="text_input_form" autocomplete="off" placeholder="Наименование категории работ" name="worksCategories[@i].Title" value="@Model.worksCategories![i].Title" />
                    </p2>
                    <p2 class="validation_text">
                        <label>Перечень работ</label>
                            <textarea autocomplete="off" placeholder="Перечень работ" name="worksNames[@i]" value="@Model.worksNames![i]"></textarea>
                    </p2>
                    <p2>
                            <button type="button" class="remove-category">Удалить категорию</button>
                    </p2>
                        
                </div> 
        }
            </div>
        </p2>
        <p2 class="validation_text">
            <button type="button" id="add-category">Добавить категорию</button>
        </p2>
        <button name="acceptWorkServices" id="WS_accept" type="submit" value="Send">Добавить</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(function () {
        var categoriesCount = parseInt($("#categoriesCount").val());
        // Добавление новой категории
        $('#add-category').click(function () {
            var categoryHtml = '<div class="category">' +
                '<p2 class="validation_text">' +
                '<label>Название категории</label>' +
                '<input class="text_input_form" autocomplete="off" placeholder="Наименование категории работ" name="worksCategories[' + categoriesCount + '].Title" value="@@Model.worksCategories[' + categoriesCount + '].Title" data-val-required="Это поле не должно быть пустым" />' +
                '</p2>' +
                '<p2 class="validation_text">' +
                '<label>Перечень работ</label>' +
                '<textarea autocomplete="off" placeholder="Перечень работ" name="worksNames[' + categoriesCount + ']" value="@@Model.worksNames[' + categoriesCount + ']"></textarea>' +
                '</p2>' +
                '<p2>' +
                '<button type="button" class="remove-category">Удалить категорию</button>' +
                '</p2>' +
                '</div>';
            $('#categories').append(categoryHtml);
            categoriesCount++;
            $("#categoriesCount").val(categoriesCount);
        });
        // Удаление категории
        $(document).on('click', '.remove-category', function () {
            $(this).closest('.category').remove();
            categoriesCount--;
            $("#categoriesCount").val(categoriesCount);
        });
    });
</script>

