@using VartanMVCv2.Domain.Entities
@model VartanMVCv2.ViewModels.ClientViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var clients = Model.clients!;
}

<div class="pop_up" id="pop_up">
    <div class="pop_up_container">
        <div class="pop_up_action" id="pop_up_action">
            <p class="pop_up_p" id="pop_up_paragraph"></p>
            <form id="confirm-form" asp-area="Admin" asp-controller="Owner" method="post" asp-action="Selector">
                <input type="hidden" name="id" value="" />
                <input type="hidden" name="operation" value="" />
                <button class="btn_accept" type="submit">Да</button>
                <button class="btn_decline" id="pop_up_No" type="button">Нет</button>
            </form>
        </div>
    </div>
</div>

<div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h1 class="page-announce-text valign">Активные</h1></div>
<div id="posttable" class="container">
    <table class="responsive-table striped hover centered" id="comp_names-table">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Имя клиента</th>
                <th>Телефон</th>
                <th>E-mail</th>
                <th>Вопрос</th>
                <th>Время звонка</th>
                <th>Дата регистрации</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Client client in clients)
                {
                    <tr>
                        <td><a>@client.Id</a></td>
                        <td><a>@client.Name</a></td>
                        <td><a>@client.Phone</a></td>
                        <td><a>@client.Email</a></td>
                        <td><a>@client.HisQuestion</a></td>
                        <td><a>@client.CallTime</a></td>
                        <td><a>@client.RegistrationDate</a></td>
                        <td>
                            <div class="btn-toolbar">
                                <form method="post" id="moveForm" action="">
                                    <input type="hidden" name="id" value="@client.Id" />
                                    <input type="hidden" name="operation" value="to" />
                                    <button class="btn green" data-id="@client.Id" type="button">Переместить</button>
                                </form>

                               @* <form method="post" id="deleteForm" action="">
                                    <input type="hidden" name="id" value="@client.Id" />
                                    <input type="hidden" name="operation" value="del" />
                                    <button class="btn red" data-id="@client.Id" type="button">Удалить</button>
                                </form>*@
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
