@using VartanMVCv2.Models
@model WorkServicesViewModel

@{
    var existingCategoriesCount = Model.workServicesExample?.WorksCategories.Count ?? 0;
    var categoriesCount = existingCategoriesCount;
}

<style>
    /* Стили для контейнера формы */
    .form_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 20px;
        margin-left: 1vw;
    }

    /* Общие стили для текстовых полей и меток */
    .validation_text {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    label {
        font-weight: bold;
        color: #2196F3;
    }

    /* Стили для текстовых полей */
    .text_input_form {
        border: 2px solid #2196F3;
        border-radius: 4px;
        padding: 8px; /* Уменьшаем внутренний отступ для компактности */
        font-size: 16px;
        transition: border-color 0.3s ease;
        outline: none;
    }

        .text_input_form:focus {
            border-color: #FF5722;
        }

    /* Стили для поля ввода файлов */
    .file_input_form {
        display: block;
        border: 2px dashed #2196F3;
        border-radius: 4px;
        padding: 8px; /* Уменьшаем внутренний отступ для компактности */
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        transition: border-color 0.3s ease;
        outline: none;
        margin: 5px 0;
    }

        .file_input_form:focus {
            border-color: #FF5722;
        }

    /* Стили для кнопки выбора файлов */
    .file_input_button {
        background-color: #2196F3;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 8px 16px; /* Уменьшаем размер кнопки для компактности */
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        outline: none;
        margin: 5px 0;
    }

        .file_input_button:hover {
            background-color: #FF5722;
        }

    /* Стили для кнопок "Добавить категорию" и "Удалить категорию" */
    #add-category,
    .remove-category {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 8px 16px; /* Уменьшаем размер кнопки для компактности */
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        outline: none;
        margin: 5px 0;
    }

        #add-category:hover,
        .remove-category:hover {
            background-color: #45a049;
        }

    /* Прогресс-бар */
    progress {
        width: 100%;
        height: 10px;
        border: none;
        border-radius: 5px;
    }

        progress::-webkit-progress-bar {
            background-color: #E0E0E0;
        }

        progress::-webkit-progress-value {
            background-color: #2196F3;
        }

    #WS_accept {
        background-color: #2196F3;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 8px 16px; /* Уменьшаем размер кнопки для компактности */
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        transition: background-color 0.3s ease;
        outline: none;
    }

        #WS_accept:hover {
            background-color: #FF5722;
        }

    /* Стили для блоков ввода работ и категорий */
    .category {
        border: 5px solid #4CAF50;
        border-radius: 4px;
        margin-top: 10px; /* Уменьшаем верхний отступ */
        padding: 8px; /* Уменьшаем внутренний отступ для компактности */
    }

    .work {
        border: 5px solid #E91E63;
        border-radius: 4px;
        margin-top: 5px; /* Уменьшаем верхний отступ */
        padding: 8px; /* Уменьшаем внутренний отступ для компактности */
    }

    /* Стили для кнопки "Добавить работу" и "Удалить работу" */
    .add-work,
    .remove-work {
        background-color: #E91E63;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 8px 16px; /* Уменьшаем размер кнопки для компактности */
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        outline: none;
        margin: 5px 0;
    }

    .error-message label {
        color: #E91E63; /* Красный цвет шрифта для ошибок */
    }

    .error-input {
        border-color: #E91E63 !important; /* Красная подсветка для ошибочных полей */
    }

        .add-work:hover,
        .remove-work:hover {
            background-color: #D81B60;
        }
</style>

<div class="form_conteier">
    <form id="form_upload_id" area="Admin" controller="Owner" action="AddWorkServices" method="post" enctype="multipart/form-data" onsubmit="uploadPhotos('/Owner/AddWorkServices')">
        <p2>
            <input type="hidden" name="categoriesCount" id="categoriesCount" value="@categoriesCount" />
            <input type="hidden" name="workServicesExample.ID" value="@Model.workServicesExample?.ID" />
        </p2>
        <p2 class="validation_text">
            <label>Заголовок</label>
            <input class="text_input_form" autocomplete="off" placeholder="Заголовок" name="workServicesExample.Title" value="@Model.workServicesExample!.Title" data-rule-required="true" data-msg-required="Это поле не должно быть пустым" />
            <span class="error-message"></span>
        </p2>
        <p2 class="validation_text">
            <label>Цена</label>
            <input class="text_input_form" autocomplete="off" placeholder="Укажите цену" name="workServicesExample.Price" value="@Model.workServicesExample!.Price" data-rule-required="true" data-msg-required="Это поле не должно быть пустым" />
            <span class="error-message"></span>
        </p2>
        <p2 class="validation_text">
            <label>Описание</label>
            <textarea class="text_input_form" autocomplete="off" placeholder="Описание" name="workServicesExample.Description" value="@Model.workServicesExample!.Description" ></textarea>
        </p2>
        <p2 class="validation_text">
            <label>Титульная картинка</label>
            <input class="file_input_form" type="file" name="files" id="fileInput" placeholder="Титульная картинка" accept=".jpg, .jpeg, .png" />
            <progress id="progressBar" value="0" max="100"></progress>
        </p2>
        <p2 class="validation_text">
            <label>SEO-Метатэг Title</label>
            <input class="text_input_form" autocomplete="off" placeholder="SEO-Метатэг Title" name="workServicesExample.MetaTitle" value="@Model.workServicesExample!.MetaTitle" />
        </p2>
        <p2 class="validation_text">
            <label>SEO-Метатэг Description</label>
            <input class="text_input_form" autocomplete="off" placeholder="SEO-Метатэг Description" name="workServicesExample.MetaDescription" value="@Model.workServicesExample!.MetaDescription" />
        </p2>
        <p2 class="validation_text">
            <label>SEO-Метатэг Keywords</label>
            <input class="text_input_form" autocomplete="off" placeholder="SEO-Метатэг Keywords" name="workServicesExample.MetaKeywords" value="@Model.workServicesExample!.MetaKeywords" />
        </p2>
        <p2>
            <div id="categories">
                @for (int i = 0; i < categoriesCount || (Model.workServicesExample != null && i < Model.workServicesExample.WorksCategories.Count); i++)
                {
                    <div class="category">
                        <p2 class="validation_text">
                            <label>Название категории</label>
                            @if (i < categoriesCount)
                            {
                                <input class="text_input_form" autocomplete="off" placeholder="Наименование категории работ" name="workServicesExample.WorksCategories[@i].Title" value="@Model.workServicesExample?.WorksCategories[i].Title" data-rule-required="true" data-msg-required="Это поле не должно быть пустым" />
                                <span class="error-message"></span>
                            }
                            else
                            {
                                <input class="text_input_form" autocomplete="off" placeholder="Наименование категории работ" name="workServicesExample.WorksCategories[@i].Title" value="" data-rule-required="true" data-msg-required="Это поле не должно быть пустым" />
                                <span class="error-message"></span>
                            }
                        </p2>
                        <p2 class="validation_text">
                            <label>Перечень работ</label>
                            <div id="works-container-@i">
                                @if (i < categoriesCount)
                                {
                                    @for (int j = 0; j < Model.workServicesExample!.WorksCategories[i].Works.Count; j++)
                                    {
                                        <div class="work">
                                            <input class="text_input_form" autocomplete="off" placeholder="Наименование работы" name="workServicesExample.WorksCategories[@i].Works[@j].Title" value="@Model.workServicesExample.WorksCategories[i].Works[j].Title" data-val-required="Это поле не должно быть пустым" />
                                            <span class="error-message"></span>
                                            <button type="button" class="remove-work">Удалить работу</button>
                                        </div>
                                    }
                                }
                            </div>
                            <button type="button" class="add-work">Добавить работу</button>
                        </p2>
                        <p2>
                            <button type="button" class="remove-category">Удалить категорию</button>
                        </p2>
                    </div>
                }
            </div>
        </p2>
        <p2 class="validation_text">
            <button type="button" id="add-category">Добавить категорию</button>
        </p2>
        <button name="acceptWorkServices" id="WS_accept" type="submit" value="Send">Создать/изменить услугу</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(function () {
        // Определите, сколько существующих категорий у вас есть.
        var existingCategoriesCount = @Model.workServicesExample?.WorksCategories.Count ?? 0;
        var categoriesCount = existingCategoriesCount;

        // Добавление новой категории
        $('#add-category').click(function () {
            var categoryHtml = '<div class="category">' +
                '<p2 class="validation_text">' +
                '<label>Название категории</label>' +
                '<input class="text_input_form" autocomplete="off" placeholder="Наименование категории работ" name="workServicesExample.WorksCategories[' + categoriesCount + '].Title" value="" data-rule-required="true" data-msg-required="Это поле не должно быть пустым" />' + 
                '<span class="error-message"></span>'+
                '</p2>' +
                '<p2 class="validation_text">' +
                '<label>Перечень работ</label>' +
                '<div id="works-container-' + categoriesCount + '"></div>' +
                '<button type="button" class="add-work">Добавить работу</button>' +
                '</p2>' +
                '<p2>' +
                '<button type="button" class="remove-category">Удалить категорию</button>' +
                '</p2>' +
                '</div>';

            // Добавьте новую категорию после всех существующих.
            $('#categories').append(categoryHtml);
            categoriesCount++;
            $("#categoriesCount").val(categoriesCount);
        });

        // Добавление новой работы
        $(document).on('click', '.add-work', function () {
            var categoryIndex = $(this).closest('.category').index();
            var worksContainer = $('#works-container-' + categoryIndex);
            var workCount = worksContainer.children('.work').length;
            var workHtml = '<div class="work">' +
                '<input class="text_input_form" autocomplete="off" placeholder="Наименование работы" name="workServicesExample.WorksCategories[' + categoryIndex + '].Works[' + workCount + '].Title" value="" data-rule-required="true" data-msg-required="Это поле не должно быть пустым" />' +
                '<span class="error-message"></span>'+
                '<button type="button" class="remove-work">Удалить работу</button>' +
                '</div>';
            worksContainer.append(workHtml);
        });

        // Удаление работы
        $(document).on('click', '.remove-work', function () {
            $(this).closest('.work').remove();
        });

        // Удаление категории
        $(document).on('click', '.remove-category', function () {
            $(this).closest('.category').remove();
            categoriesCount--;
            $("#categoriesCount").val(categoriesCount);
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#form_upload_id").validate({
            errorPlacement: function (error, element) {
            error.appendTo(element.closest(".validation_text").find(".error-message"));
            element.addClass("error-input");

            }
        });

    });
</script>

<script>
    $(document).ready(function () {
        $('#fileInput').change(function () {
            var fileInput = $(this);
            var file = fileInput[0].files[0];

            // Проверка типа файла
            var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
            if (!allowedExtensions.exec(file.name)) {
                alert('Пожалуйста, выберите файл с расширением .jpg, .jpeg или .png.');
                fileInput.val(''); // Сброс поля ввода файла
                return;
            }

            // Проверка размера файла (в данном примере максимальный размер - 6 МБ)
            var maxSize = 6 * 1024 * 1024; // 5 МБ
            if (file.size > maxSize) {
                alert('Файл слишком большой. Максимальный размер файла: 6 МБ.');
                fileInput.val(''); // Сброс поля ввода файла
                return;
            }            
        });
    });
</script>

