@model VartanMVCv2.ViewModels.ClientViewModel

@{
    var clients = Model.clients;
    string calltime = "";
}

<div>
    <div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h1 class="page-announce-text valign">Панель Администратора</h1></div>
    <!-- Stat Boxes -->
    <div class="row">
        <div class="col l3 s6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@ViewBag.ClientCount</h3>
                    <p>Всего клиентов</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer" class="animsition-link">Подробнее <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col l3 s6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@ViewBag.TodayClientCount</h3>
                    <p>За сегодня</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer" class="animsition-link">Подробнее <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col l3 s6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@ViewBag.MonthClientCount</h3>
                    <p>За текущий месяц</p>
                </div>
                <div class="icon">
                    <i class="ion ion-email"></i>
                </div>
                <a href="#" class="small-box-footer" class="animsition-link">Подробнее <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col l3 s6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@ViewBag.YearClientCount</h3>
                    <p>За текущий год</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer" class="animsition-link">Подробнее <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="container">
            <div class="quick-links center-align">
                <h3>Быстрая навигация</h3>
                <div class="row">
                    <div class="col l3 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="Обновление модели после добовления новых услуг"><a class="waves-effect waves-light btn-large" style="background-color:red;" href="@Url.Action("DataInit", "Owner", "Admin")">Обновить модель</a></div>
                    <div class="col l3 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="Staff Applications"><a class="waves-effect waves-light btn-large" href="#">Staff Applications</a></div>
                    <div class="col l3 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="Name Guidelines"><a class="waves-effect waves-light btn-large" href="#">User Guidelines</a></div>
                    <div class="col l3 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="Issue Tracker"><a class="waves-effect waves-light btn-large" href="#">Issue Tracker</a></div>
                    <div class="col l4 offset-l4 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="OTRS Support Site"><a class="waves-effect waves-light btn-large" href="#">Support Site</a></div>
                </div>
            </div>

            <h3 class="center-align">Клиенты за сегодня</h3>
            <div class="custom-responsive">
                <table class="striped hover centered" id="today_client">
                    <thead>
                        <tr>
                            <th>Имя клиента</th>
                            <th>Телефон</th>
                            <th>Еmail</th>
                            <th>Время для звонка</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (Client client in clients)
                            {
                                calltime = $"{@client.CallTime:g}";
                                <tr>
                                    <td>@client.Name</td>
                                    <td>@client.Phone</td>
                                    <td>@client.Email</td>
                                    <td>@calltime</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <form asp-area="" asp-action="Logout" asp-controller="Account" method="post">
        <div style="display: flex; margin-top: 4em; flex-wrap: nowrap;justify-content: center;">
            <input type="submit" value="Выйти" id="element" style="position:center; border: 4px dashed rgba(100, 100, 100, 1); border-radius: 31px; background-color: rgba(212, 17, 17, 0.39);box-shadow: 10px 13px 0px 0px rgba(0, 0, 0, 0.3); width:10em; height:4em" />
        </div>
    </form>
</div>
