@model WorkServicesViewModel

@{
    var WSList = Model.workServices!;   
    _currentViewContext.CurrentViewName = "WorkServicesView";
}

<div class="pop_up" id="pop_up">
    <div class="pop_up_container">
        <div class="pop_up_action" id="pop_up_action">
            <p class="pop_up_p" id="pop_up_paragraph"></p>
            <form id="confirm-form" asp-area="Admin" asp-controller="Owner" method="post" asp-action="EntitySelector">
                <input type="hidden" name="id" value="" />
                <input type="hidden" name="operation" value="" />
                <input type="hidden" name="viewName" value="" />
                <button class="btn_accept" type="submit">Да</button>
                <button class="btn_decline" id="pop_up_No" type="button">Нет</button>
            </form>
        </div>
    </div>
</div>


<div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h1 class="page-announce-text valign">Завершенные объекты</h1></div>
<div id="posttable" class="container">
    <table class="responsive-table striped hover centered" id="ws-table">
        <thead>
            <tr>
                <th>Заголовок</th>
                <th style="max-width:200px; overflow-wrap:break-word;">Описание</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (WorkServices WS in WSList)
                {
                    <tr>
                        <td><a>@WS.Title</a></td>
                        <td style="max-width:200px; overflow-wrap:break-word;"><a>@WS.Description</a></td>
                        <td>
                            <div class="btn-toolbar">
                                <form method="get" id="update" area="Admin" controller="Owner" action="GetAddWorkServices">
                                    <input type="hidden" name ="id" value="@WS.ID" />
                                    <button class="btnupd" type="submit"><i class="material-icons">done</i></button>
                                </form>
                                <form method="post" id="deleteForm" action="">
                                    <input type="hidden" name="id" value="@WS.ID" />
                                    <input type="hidden" name="operation" value="del" />
                                    <input type="hidden" name="viewName" value="@_currentViewContext.CurrentViewName" />
                                    <button class="btn red" data-id="@WS.ID" type="button"><i class="material-icons">remove</i></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
