@using VartanMVCv2.ViewModels;
@model IndexViewModel;

<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="contact_text">Оставьте заявку</h1>
                <div class="mail_sectin">
                    <div asp-validation-summary="All"></div>
                    <form asp-controller="home" asp-action="index" method="post" id="registrForm">
                        <div>
                            <input type="text" class="email-bt" placeholder="Имя" asp-for="@Model.ClientExample!.Name" data-val-required="Поле ИМЯ не должно быть пустым" />
                            <span asp-validation-for="@Model.ClientExample!.Name" />
                        </div>
                        <div>
                            <input class="email-bt" type="email" placeholder="Email" asp-for="@Model.ClientExample!.Email" data-val-email="Некорректный Email адрес" />
                            <span asp-validation-for="@Model.ClientExample!.Email" />
                        </div>
                        <div>
                            <input data-tel-input class="email-bt" type="tel"  maxlength="18" placeholder="Телефон" asp-for="@Model.ClientExample!.Phone" data-val-required="Поле ТЕЛЕФОН не должно быть пустым" />
                            <span asp-validation-for="@Model.ClientExample!.Phone" />
                        </div>
                        <div>
                            <textarea class="massage-bt" placeholder="Вопрос или услуга" rows="5" id="comment" asp-for="@Model.ClientExample!.HisQuestion" data-val-length="Длина текста не должна быть более 150 символов и менее 10 символов"></textarea>
                            <span asp-validation-for="@Model.ClientExample!.HisQuestion" />
                        </div>
                        <div>
                            <button class="button_submit" type="submit" value="send">Создать заявку</button>
                        </div>                      
                    </form>                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_main">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="500" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact section end -->