@using VartanMVCv2.Domain.Entities
@using VartanMVCv2.ViewModels
@model IndexViewModel

@{
    int parityCounter = (Model.sortFeedbackList.ToList().Count % 2 == 0) ? Model.sortFeedbackList.ToList().Count : Model.sortFeedbackList.ToList().Count - 1;
    int indicatorsCount = parityCounter / 2;
    int feedbackOnPageCount = 8;

    if (parityCounter > feedbackOnPageCount)
    {
        parityCounter = feedbackOnPageCount;
        indicatorsCount = feedbackOnPageCount/2;
    }
}

<!-- projects section start -->
<div class="projects_section layout_padding">
    <div class="container">
        <h1 class="our_text">Наши работы</h1>
        <p class="ipsum_text">Фото уже оконченых проектов, от наших довольных клиентов.</p>
        <div class="swiper">
            <div class="swiper-wrapper">
                @{
                    int i = 0;
                    while (i < Model.dataModelExample!.completedProjectsList.Count())
                    {
                         <div class="swiper-slide">
                                <div class="projects_section2">
                                    <div class="container_main2">
                                        <div class="row">
                                            @{
                                                int j = 0;
                                                while (j < 3 && i < Model.dataModelExample.completedProjectsList.Count())
                                                {
                                                    <div class="col-sm-4">
                                                        <div class="container_main1">
                                                            <img src="@Model.dataModelExample.completedProjectsList.ToList()[i].TitleImagePath" alt="Avatar" class="image" style="width:100%">
                                                            <h1 class="modern_text">@Model.dataModelExample.completedProjectsList.ToList()[i].Title</h1>
                                                            <div class="middle">
                                                                <a class="text" href="@Url.Action("FeedbackPhoto", "Home", new{Model.dataModelExample.completedProjectsList.ToList()[i].ID})">VIEW MORE</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    j++;
                                                    i++;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>                      
                    }
                }
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</div>
<!-- projects section end -->
<!-- client section start -->
<div class="clients_section layout_padding">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @{
                    int counter = 0;
                    while (counter < indicatorsCount)
                    {
                        if (counter == 0)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@counter" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@counter"></li>
                        }
                        counter++;
                    }
                }

            </ol>
            <div class="carousel-inner">
                @{
                    string carouselItemAction = "";
                    int a = 0;
                    while (a < parityCounter)
                    {
                        if (a == 0)
                        {
                            carouselItemAction = "carousel-item active";
                        }
                        else { carouselItemAction = "carousel-item"; }

                        <div class="@carouselItemAction">
                            <h1 class="client_text">Что говорят о нас, наши клиенты</h1>
                            <p class="ipsum_text">Отзывы о нашей работе</p>
                            <div class="clients_section2 layout_padding">
                                @{
                                    string clientClassPosition = "";
                                    int k = 0;
                                    while (k < 2 && a < parityCounter)
                                    {
                                        @if (k == 1) { clientClassPosition = "client_2"; }
                                        else { clientClassPosition = "client_1"; }

                                        <div class="@clientClassPosition">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="image_7"><img src="@Model.sortFeedbackList.ToList()[a].TitleImagePath"></div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <h1 class="loksans_text">@Model.sortFeedbackList.ToList()[a].FeedbackClientName</h1>
                                                    <p class="dolor_ipsum_text">@Model.sortFeedbackList.ToList()[a].FeedbackText</p>
                                                </div>
                                            </div>
                                        </div>
                                        a++;
                                        k++;
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<h1 class="present_text">Уже стали нашим клиентом? Оставьте отзыв о нас.</h1>

<div class="contact_bt_main" >
    <div class="contact_bt" style="margin-top:25px; margin-bottom:20px"><a id="feedbackForm_open" href="#">Добавить отзыв</a></div>
</div>
<!-- client section end -->

